doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Adjaramusic
        link(rel='stylesheet', href='css/reset.css')
        link(rel='stylesheet', href='css/swiper.min.css')
        link(rel='stylesheet', href='css/style.css')
        link(rel='stylesheet', href='css/edit.css')
        link(href='https://fonts.googleapis.com/css?family=Montserrat:300', rel='stylesheet')
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.2.0/css/all.css')
    body
        main
            header
                .container
                    .header-items
                        .item
                            .burger-menu
                                .burger
                            a(href='#')
                                img(src="img/logo.png" alt="logo")
                        nav
                            ul
                                li
                                    a(href='#') ახალი ამბები 
                                li
                                    a(href='#') ახალი მუსიკა
                                li
                                    a(href='#') სტატია 
                                li
                                    a(href='#') ვიდეო 
                                li
                                    a(href='#') ივენთები 
                                li
                                    a(href='#') პროექტები 
                        .item
                            i
                                img(src='img/ser.png', alt='icon')
                            i
                                img(src='img/head.png', alt='icon')
                            i
                                img(src='img/cale.png', alt='icon')
                            i
                                img(src='img/user.png', alt='icon')
                            ul.lang
                                li
                                    a(href='#') EN    
            .swiper-container.main-slider
                .swiper-wrapper 
                    .swiper-slide
                        figure
                            img(src='img/slide.png', alt='slide')
                        .container
                            .caption-container
                                h2 Aerosmith საქართველოში 
                                p 2017 წელს ჩამოვა და კონცერტს გამართავს
                                ul.news
                                    li
                                        a(href='#') ახალი ამბები /
                                    li
                                        a(href='#') როკი
                    .swiper-slide
                        figure
                            img(src='img/slide.png', alt='slide')
                        .container
                            .caption-container
                                h2 Aerosmith საქართველოში 
                                p 2017 წელს ჩამოვა და კონცერტს გამართავს
                                ul.news
                                    li
                                        a(href='#') ახალი ამბები /
                                    li
                                        a(href='#') როკი
                    .swiper-slide
                        figure
                            img(src='img/slide.png', alt='slide')
                        .container
                            .caption-container
                                h2 Aerosmith საქართველოში 
                                p 2017 წელს ჩამოვა და კონცერტს გამართავს
                                ul.news
                                    li
                                        a(href='#') ახალი ამბები /
                                    li
                                        a(href='#') როკი
                    .swiper-slide
                        figure
                            img(src='img/slide.png', alt='slide')
                        .container
                            .caption-container
                                h2 Aerosmith საქართველოში 
                                p 2017 წელს ჩამოვა და კონცერტს გამართავს
                                ul.news
                                    li
                                        a(href='#') ახალი ამბები /
                                    li
                                        a(href='#') როკი
                    .swiper-slide
                        figure
                            img(src='img/slide.png', alt='slide')
                        .container
                            .caption-container
                                h2 Aerosmith საქართველოში 
                                p 2017 წელს ჩამოვა და კონცერტს გამართავს
                                ul.news
                                    li
                                        a(href='#') ახალი ამბები /
                                    li
                                        a(href='#') როკი
                    .swiper-slide
                        figure
                            img(src='img/slide.png', alt='slide')
                        .container
                            .caption-container
                                h2 Aerosmith საქართველოში 
                                p 2017 წელს ჩამოვა და კონცერტს გამართავს
                                ul.news
                                    li
                                        a(href='#') ახალი ამბები /
                                    li
                                        a(href='#') როკი
                    .swiper-slide
                        figure
                            img(src='img/slide.png', alt='slide')
                        .container
                            .caption-container
                                h2 Aerosmith საქართველოში 
                                p 2017 წელს ჩამოვა და კონცერტს გამართავს
                                ul.news
                                    li
                                        a(href='#') ახალი ამბები /
                                    li
                                        a(href='#') როკი
                    .swiper-slide
                        figure
                            img(src='img/slide.png', alt='slide')
                        .container
                            .caption-container
                                h2 Aerosmith საქართველოში 
                                p 2017 წელს ჩამოვა და კონცერტს გამართავს
                                ul.news
                                    li
                                        a(href='#') ახალი ამბები /
                                    li
                                        a(href='#') როკი
                .swiper-pagination
                .swiper-button-next
                .swiper-button-prev

            .news-over-slider
                .swiper-container.news-slider
                    .swiper-wrapper
                        .swiper-slide
                            article
                                figure.img-container
                                    img(src="img/img1.png" alt="newsImg")
                                .description
                                    h2 Red Bull Music Academy Night with Sadar Bahar
                                    span MTKVARZE
                                    time(datetime="2017-04-04") 4 აპრილი, 2017 / პარასკევი  
                        .swiper-slide
                                article
                                    figure.img-container
                                        img(src="img/img2.png" alt="newsImg")
                                    .description
                                        h2 Red Bull Music Academy Night with Sadar Bahar
                                        span MTKVARZE
                                        time(datetime="2017-04-04") 4 აპრილი, 2017 / პარასკევი
                        .swiper-slide
                                article
                                    figure.img-container
                                        img(src="img/img3.png" alt="newsImg")
                                    .description
                                        h2 Red Bull Music Academy Night with Sadar Bahar
                                        span MTKVARZE
                                        time(datetime="2017-04-04") 4 აპრილი, 2017 / პარასკევი
                        .swiper-slide
                                article
                                    figure.img-container
                                        img(src="img/img4.png" alt="newsImg")
                                    .description
                                        h2 Red Bull Music Academy Night with Sadar Bahar
                                        span MTKVARZE
                                        time(datetime="2017-04-04") 4 აპრილი, 2017 / პარასკევი
            
                    a(href="#") სრულად ნახვა <i class="fas fa-arrow-right"></i>
                          
                button.newsP 
                    svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='7px', height='13px')
                        image(x='0px', y='0px', width='7px', height='13px', xlink:href='data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAANCAQAAADPwLw+AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiBxsWEQjnyWhHAAAAP0lEQVQI123OsQ3AQAhD0Y9vrNRMneG4AlBchO7ZSBDFN2/JAXJkyDHtAuSA8xhAGd0Pu9tA4MEc2iDq/6veuBiCGQxR4BDfAAAAAElFTkSuQmCC')

                button.newsN
                    svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='7px', height='13px')
                        image(x='0px', y='0px', width='7px', height='13px', xlink:href='data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAANCAQAAADPwLw+AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiBxsWEidnNQbdAAAAQklEQVQI102OMQ7AMAgDD+dZnfPp5nF0oBCb6c4SMm8m9wQnmWiHC4ELgQuVbRH3z8lpC3bI4W8b6BkFsB6DmdH5ADNuHgXyrlYeAAAAAElFTkSuQmCC')
            
            section.main
                .container
                    h1 მთავარი
                    .items
                        article
                            figure
                                img(src="img/pic1.png" alt="image")
                            .description
                                h2 ახალი ამბები
                                p  ისლანდიელი შემსრულებელი და მულტიინსტრუმენტალისტი sOLEY თბილისში კონცერტს გამართავს ვაშა ვაშა    
                                ul
                                    li
                                        a(href="#") გიგა თამარაშვილი /
                                    li
                                        a(href="#") როკი
                                time(datetime="2017-04-04") 4 აპრილი, 2017 
                        article
                            figure
                                img(src="img/pic2.png" alt="image")
                            .description
                                h2 ახალი ამბები
                                p  ისლანდიელი შემსრულებელი და მულტიინსტრუმენტალისტი soley     
                                ul
                                    li
                                        a(href="#") გიგა თამარაშვილი /
                                    li
                                        a(href="#") როკი
                                time(datetime="2017-04-04") 4 აპრილი, 2017

                        article
                            figure
                                img(src="img/pic3.png" alt="image")
                            .description
                                h2 ლისტი
                                p  ისლანდიელი შემსრულებელი და მულტიინსტრუმენტალისტი soley თბილისში ჯერ არნახულ     
                                ul
                                    li
                                        a(href="#") გიგა თამარაშვილი /
                                    li
                                        a(href="#") როკი
                                time(datetime="2017-04-04") 4 აპრილი, 2017

                        article
                            figure
                                img(src="img/pic4.png" alt="image")
                            .description
                                h2 სტატია
                                p ისლანდიელი შემსრულებელი და მულტიინსტრუმენტალისტი soley თბილისში ჯერ არნახულ კონცერტს გამართავს     
                                ul
                                    li
                                        a(href="#") გიგა თამარაშვილი /
                                    li
                                        a(href="#") როკი
                                time(datetime="2017-04-04") 4 აპრილი, 2017
                    .ad
                        span 980 x 110

            section.news
                .container
                    .title
                        h1 ახალი ამბები
                    .news-items
                        .left-block
                            article
                                figure
                                    img(src="img/newsimg1.png", alt="image")
                                .description
                                    p ისლანდიელი მულტიინსტრუმენტალისტი შემსრულებელი sOLEY თბილისში კონცერტს 
                                    ul
                                        li
                                            a(href="#") ჰიპ ჰოპი /
                                        li
                                            a(href="#") ელექტრო /
                                        li
                                            a(href="#") +2 
                                    time(datetime="2017-04-04") 4 აპრილი, 2017 / 09:30
                            article
                                figure
                                    img(src="img/newsimg2.png", alt="image")
                                .description
                                    p ისლანდიელი მულტი ინსტრუმენტალისტი ქალი შემსრულებელი sOLEY თბილისში კონცერტს გამართავს შემსრულებელი sOLEY  
                                    ul
                                        li
                                            a(href="#") ჰიპ ჰოპი /
                                        li
                                            a(href="#") ელექტრო /
                                        li
                                            a(href="#") +2 
                                    time(datetime="2017-04-04") 4 აპრილი, 2017 / 09:30
                            article
                                figure
                                    img(src="img/newsimg3.png", alt="image")
                                .description
                                    p ისლანდიელი მულტიინსტრუმენტალისტი შემსრულებელი sOLEY თბილისში კონცერტს გამართავს 
                                    ul
                                        li
                                            a(href="#") ჰიპ ჰოპი /
                                        li
                                            a(href="#") ელექტრო /
                                        li
                                            a(href="#") +2 
                                    time(datetime="2017-04-04") 4 აპრილი, 2017 / 09:30
                            article
                                figure
                                    img(src="img/newsimg4.png", alt="image")
                                .description
                                    p ისლანდიელი მულტიინსტრუმენტალისტი შემსრულებელი sOLEY თბილისში კონცერტს 
                                    ul
                                        li
                                            a(href="#") ჰიპ ჰოპი /
                                        li
                                            a(href="#") ელექტრო /
                                        li
                                            a(href="#") +2 
                                    time(datetime="2017-04-04") 4 აპრილი, 2017 / 09:30

                        .right-block
                            .popular
                                h2 პოპულარული
                                time
                                    ul
                                        li
                                            a(href="#") კვირა /
                                        li
                                            a(href="#") თვე  
                            .items
                                article
                                    figure
                                        img(src="img/pic2.png", alt="image")
                                    .description    
                                        p ისლანდიელი მულტი ინსტრუმენტალისტი ქალი შემსრულებელი sOLEY თბილისში კონცერტს გამართავს შემსრულებელი sOLEY 
                                        ul
                                            li
                                                a(href="#") ჰიპ-ჰოპი /  
                                            li
                                                a(href="#") როკი / 
                                            li
                                                a(href="#") +2 
                                article
                                    figure
                                        img(src="img/newsimg3.png", alt="image")
                                    .description    
                                        p ისლანდიელი მულტიინსტრუმენტალისტი შემსრულებელი sOLEY თბილისში კონცერტს  
                                        ul
                                            li
                                                a(href="#") ჰიპ-ჰოპი /  
                                            li
                                                a(href="#") როკი / 
                                            li
                                                a(href="#") +2 
                                article
                                    figure
                                        img(src="img/pic3.png", alt="image")
                                    .description    
                                        p ისლანდიელი მულტიინსტრუმენტალისტი შემსრულებელი sOLEY თბილისში კონცერტს გამართავს ვაშა ვაშა 
                                        ul
                                            li
                                                a(href="#") ჰიპ-ჰოპი /  
                                            li
                                                a(href="#") როკი / 
                                            li
                                                a(href="#") +2 
                                article
                                    figure
                                        img(src="img/ray.png", alt="image")
                                    .description    
                                        p ისლანდიელი მულტიინსტრუმენტალისტი შემსრულებელი sOLEY თბილისში კონცერტს  
                                        ul
                                            li
                                                a(href="#") ჰიპ-ჰოპი /  
                                            li
                                                a(href="#") როკი / 
                                            li
                                                a(href="#") +2 
                                article
                                    figure
                                        img(src="img/nigga.png", alt="image")
                                    .description    
                                        p ისლანდიელი მულტიინსტრუმენტალისტი შემსრულებელი sOLEY თბილისში კონცერტს  
                                        ul
                                            li
                                                a(href="#") ჰიპ-ჰოპი /  
                                            li
                                                a(href="#") როკი / 
                                            li
                                                a(href="#") +2 
                    a(href="#") სრულად ნახვა <i class="fas fa-arrow-right"></i>

            section.new-music
                .container
                    h1 ახალი მუსიკა
                    .music-items
                        article
                            figure
                                img(src="img/pwr.jpg", alt="image")
                            .description
                                h2 Tom Petty And the heartbreakers    
                                span Drunk
                                ul
                                    li
                                        a(href="#") ჰიპ-ჰოპი /  
                                    li
                                        a(href="#") როკი 
                        article
                            figure
                                img(src="img/pwr.jpg", alt="image")
                            .description
                                h2 Tom Petty And the heartbreakers    
                                span Drunk
                                ul
                                    li
                                        a(href="#") ჰიპ-ჰოპი /  
                                    li
                                        a(href="#") როკი 
                        article
                            figure
                                img(src="img/pwr.jpg", alt="image")
                            .description
                                h2 Tom Petty And the heartbreakers    
                                span Drunk
                                ul
                                    li
                                        a(href="#") ჰიპ-ჰოპი /  
                                    li
                                        a(href="#") როკი 
                        article
                            figure
                                img(src="img/pwr.jpg", alt="image")
                            .description
                                h2 Tom Petty And the heartbreakers    
                                span Drunk
                                ul
                                    li
                                        a(href="#") ჰიპ-ჰოპი /  
                                    li
                                        a(href="#") როკი 
                        article
                            figure
                                img(src="img/pwr.jpg", alt="image")
                            .description
                                h2 Tom Petty And the heartbreakers    
                                span Drunk
                                ul
                                    li
                                        a(href="#") ჰიპ-ჰოპი /  
                                    li
                                        a(href="#") როკი 
                        article
                            figure
                                img(src="img/pwr.jpg", alt="image")
                            .description
                                h2 Tom Petty And the heartbreakers    
                                span Drunk
                                ul
                                    li
                                        a(href="#") ჰიპ-ჰოპი /  
                                    li
                                        a(href="#") როკი 
                    a(href="#") სრულად ნახვა <i class="fas fa-arrow-right"></i>

            section.articles
                .container
                    h1 სტატიები
                    .articles-items
                        .left-block
                            .ad
                                span 230 x 230
                            h2.list ლისტები
                            ul
                                li
                                    a(href="#") 100 საუკეთესო ქართული სიმღერა
                                li
                                    a(href="#") 100 საუკეთესო ქართული სიმღერა
                                li
                                    a(href="#") 100 საუკეთესო ქართული სიმღერა
                                li
                                    a(href="#") 100 საუკეთესო ქართული სიმღერა
                                li
                                    a(href="#") 100 საუკეთესო ქართული სიმღერა
                                li
                                    a(href="#") 100 საუკეთესო ქართული სიმღერა
                                li
                                    a(href="#") 100 საუკეთესო ქართული სიმღერა
                        .right-block
                            article.main
                                figure
                                    img(src="img/article1.png", alt="image")
                                p ისლანდიელი მულტიინსტრუმენტალისტი შემსრულებელი sOLEY თბილისში კონცერტს გამართავს
                                .cat-time
                                    ul
                                        li
                                            a(href="#") გიგა თამარაშვილი /
                                        li
                                            a(href="#") ელექტრო
                                    time 4 აპრილი, 2017

                            .items
                                article
                                    figure
                                        img(src="img/pic1.png", alt="image")
                                    .description
                                        p ისლანდიელი შემსრულებელი და მულტიინსტრუმენტალისტი soley თბილისში ჯერ არნახულ
                                        ul
                                            li
                                                a(href="#") გიგა თამარაშვილი /
                                            li
                                                a(href="#") ელექტრო
                                        time 4 აპრილი, 2017
                                article
                                    figure
                                        img(src="img/newsimg4.png", alt="image")
                                    .description
                                        p ისლანდიელი შემსრულებელი და მულტიინსტრუმენტალისტი soley თბილისში ჯერ არნახულ
                                        ul
                                            li
                                                a(href="#") გიგა თამარაშვილი /
                                            li
                                                a(href="#") ელექტრო
                                        time 4 აპრილი, 2017
                                article
                                    figure
                                        img(src="img/newsimg3.png", alt="image")
                                    .description
                                        p ისლანდიელი შემსრულებელი და მულტიინსტრუმენტალისტი soley თბილისში ჯერ არნახულ
                                        ul
                                            li
                                                a(href="#") გიგა თამარაშვილი /
                                            li
                                                a(href="#") ელექტრო
                                        time 4 აპრილი, 2017
                    a(href="#") სრულად ნახვა <i class="fas fa-arrow-right"></i>
            section.video
                .container
                    .title
                      h1 ვიდეო
                    .video-items
                        .main-video
                            video(width="100%" height="auto" poster="img/videomain.png")
                            .description
                                p Moby-ს ახალი სინგლი  რა ყოფილა  სიყვარული”
                                    .desc-item  
                                        ul
                                            li
                                                a(href="#") ჰიპ-ჰოპი, 
                                        time 4 აპრილი, 2017
                        .right-videos
                            .item
                                .small-vid
                                    video(width="215px" height="121px" poster="img/vid1.png") 
                                .description
                                    p Moby-ს ახალი სინგლი  რა ყოფილა სიყვარული”
                                    ul
                                        li 
                                            a(href="#") ჰიპ-ჰოპი /
                                        li 
                                            a(href="#") როკი /
                                        li 
                                            a(href="#") -1
                                    time 4 აპრილი, 2017

                            .item
                                .small-vid
                                    video(width="215px" height="121px" poster="img/vid2.png") 
                                .description
                                    p Moby-ს ახალი სინგლი  რა ყოფილა სიყვარული”
                                    ul
                                        li 
                                            a(href="#") ჰიპ-ჰოპი /
                                        li 
                                            a(href="#") როკი /
                                        li 
                                            a(href="#") -1
                                    time 4 აპრილი, 2017

                            .item
                                .small-vid
                                    video(width="215px" height="121px" poster="img/vid3.png") 
                                .description
                                    p Moby-ს ახალი სინგლი  რა ყოფილა სიყვარული”
                                    ul
                                        li 
                                            a(href="#") ჰიპ-ჰოპი /
                                        li 
                                            a(href="#") როკი /
                                        li 
                                            a(href="#") -1
                                    time 4 აპრილი, 2017
                    a(href="#") სრულად ნახვა <i class="fas fa-arrow-right"></i>


            footer
                .container
                    .footer-items
                        .icons
                            .circle
                                a(href="#") <i class="fab fa-facebook-f"></i>
                            .circle
                                a(href="#") <i class="fab fa-twitter"></i>
                            .circle
                                a(href="#") <i class="fab fa-instagram"></i>
                        p &copy; 2017 adjaramusic ყველა უფლება დაცულია. 

        script(src='http://code.jquery.com/jquery-3.3.1.min.js')
        script(src='js/swiper.min.js')
        script(src='js/myscript.js')
        script.
            var swiper = new Swiper('.swiper-container.main-slider', {
                slidesPerView: 1,
                spaceBetween: 0,
                loop: true,
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
            });  
        script.
            var swiper = new Swiper('.swiper-container.news-slider', {
                slidesPerView: 4,
                spaceBetween: 50,
                clickable: true,
                grabCursor: true,
                loop: true,
                navigation: {
                    nextEl: 'button.newsN',
                    prevEl: 'button.newsP',
                },
            });               
                            
            